name: Deploy

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      SUPABASE_ACCESS_TOKEN: ${{ secrets.SB_ACCESS_TOKEN }}
      SUPABASE_DB_PASSWORD: ${{ secrets.SB_DB_PASSWORD }}
      PROJECT_ID: ${{ secrets.SB_PROJECT_ID }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: supabase/setup-cli@v1
        with:
          version: latest
      - name: Run Database Migrations
        run: |
          supabase link --project-ref $PROJECT_ID 
          supabase db push
      - name: Deploy
        run: supabase functions deploy --project-ref $PROJECT_ID --debug